<!DOCTYPE html>

<html>
  <head>
    <title if(data.title)><include(data.title)/></title>
    <title else>hallo</title>
    <include(data.head)></include>
  </head>
  <body>
    <include(data.body)/>
  </body>
</html>
